.name{
background-color: transparent !important;
word-spacing: 2px;
}

.navbar-right{
  background: linear-gradient(267deg, #DA7C25 .36%, #B923E1 102.06%);
}

.home .name{
  background: linear-gradient(267deg, #DA7C25 .36%, #B923E1 102.06%);
  background-clip: text;
}

.textClip{
 background: linear-gradient(267deg, #DA7C25 .36%, #B923E1 102.06%);
  background-clip: text;
  color: transparent;
}


.menu-items{
  position: absolute;
  right: -450px;
  transition: right;
  transition-duration: 1s;
}
.menu-open{
  right: -20px;
}

.info-button,.skills-color,.profile-bg,.about-image{
  background: linear-gradient(267deg, #DA7C25 .36%, #B923E1 102.06%);

}

.bgGradient{
  background: linear-gradient(267deg, #DA7C25 .36%, #B923E1 102.06%);
}

.skillcard:hover{
  background-image: linear-gradient(45deg, #3f0028, #582300); 
}
